.App {
display: flex;
flex: 1;
flex-direction: column;
align-items: center;
justify-content: flex-start;
overflow-x: hidden;
}

.App {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.App::-webkit-scrollbar {
display: none;
}


.loading-container {
display: flex;
flex: 1;
flex-direction: column;
align-items: center;
justify-content: center;
}
  